.container-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-description {
  display: flex;
  margin-top: 7px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  transition: .3s;
}

.container-description:hover {
  background-color: #E6E8EA;
}

.container-description > span {
  color: #7A7A7A;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;  
  font-style: normal;
}

.container-description > h1 {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  line-height: 25px;
  font-style: normal;
  text-align: center;
}

.container-description > p {
  font-size: 11px;
  color: #7A7A7A;
  line-height: 15px;
  font-style: normal;
  text-align: center;
  font-weight: normal;
}

.container-description > button {
  outline: 0;
  width: 126px;
  height: 33px;
  color: #FFF;
  font-size: 12px;
  display: flex;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 0 0;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  transition: .3s;
} 

.container-description > button:hover {
  opacity: 0.8;
  width: 150px;
  height: 50px;
}

