.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80px;
  background-color: #FFF;
}

.container-search {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #7A7A7A;
}

.container-search > input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.container-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.5px;
}

.container-user > span {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #7A7A7A;
} 

.container-car {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container-car > div {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #F8475F;
}
.container-car > div > span {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
  text-align: center;
}

.clear-car {
  background-color: transparent;
  display: block;
  color: #000;
  border: none;
  cursor: pointer;
}