.App {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.App  > img {
  width: 100%;
}

/* Style Catalog */
.container-shelf{
  width: 70%;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container-shelf > span {
  font-size: 20px;
  font-weight: 900;
  color: #000000;
  line-height: 27px;
  font-style: normal;
}

.details-bar {
  width: 65px;
  margin-top: 5px;
  border-bottom: 4.29723px solid #C0C0C0;
}

.container-catalog {
  width: 80%;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.view-catalog {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.view-catalog > img {
  width: 220px;
  height: 200px;
}

.container-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: .3s;
}

.container-description:hover {
  background-color: #E6E8EA;
}

.container-description > span {
  color: #7A7A7A;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;  
  margin-bottom: -20px;
  font-style: normal;
}

.container-description > h6 {
  color: #7A7A7A;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;  
  margin-bottom: -5px;
  font-style: normal;
}

.container-description > h3 {
  color: #7A7A7A;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;  
  margin-bottom: -16px;
  font-style: normal;
}

.container-description > h1 {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  line-height: 25px;
  font-style: normal;
  text-align: center;
  margin-bottom: -14px;
}

.container-description > p {
  font-size: 11px;
  color: #7A7A7A;
  line-height: 15px;
  font-style: normal;
  text-align: center;
  font-weight: normal;
}

.container-description > button {
  outline: 0;
  width: 126px;
  height: 33px;
  color: #FFF;
  font-size: 12px;
  display: flex;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 0 0;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  transition: .3s;
} 

.container-description > button:hover {
  opacity: 0.8;
  width: 150px;
  height: 50px;
}

/* Style Evente */
.container-event {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 140px;
  margin-top: 30px;
  background-color: #F2F2F2;
  padding-bottom: 24px;
}

.container-event .container-form {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.container-event .container-form .input {
  display: flex;
  width: 280px;
  height: 50px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-radius: 5px;
  outline: 0;
  padding-left: 15px;
  background-color: #FFF;
  font-size: 12px;
  font-weight: 14px;
  color: #585858;
}

.container-event .container-form .button-submit {
  display: flex;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-radius: 5px;
  outline: 0;
  background-color: #000;
  color: #FFF;
  font-size: 16px;
}

/* Stylle Footer */
.contianer-footer {
  width: 100%;
  background-color: #000000;
}
